<head>
	<meta charset="UTF-8" />
	<!-- ajout de viewport-fit=cover pour permettre les safeareas, permet au contenu de s'étendre dans la zone de sécurité-->
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, viewport-fit=cover"
	/>
	<!-- Indique le thème de couleur du site, qui apparait sur les navigateurs compatibles-->
	<meta name="”theme-color”" content="#65082D" />
	<title>Sudoku Master - {{ affichage.titre }}</title>
	<meta
		name="description"
		content="#########insérer_description_max_160_caractères##########"
	/>

	<!-- Pour afficher un aperçu personnalisé quand partage le lien du site sur les plateformes comme Messenger ou Whatsapp -->
	<meta
		property="og:title"
		content="{{ affichage.titre }}"
	/>
	<meta property="og:description" content="#########insérer_très_courte_description##########" />
	<meta
		property="og:image"
		content="#########insérer_image_format rectangle_de_préférence##########"
	/>
	<meta
		property="og:url"
		content="#########insérer_url_page_accueil##########"
	/>
	<meta property="og:type" content="website" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

	<link rel="icon" type="image/svg+xml" href="assets/svg/favicon.svg" />

	<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<script src="assets/js/commun.js"></script>
</head>