:root {
  --MidnightViolet : #270211;
  --CrimsonViolet : #65082D;
  --CrimsonViolet75pourcent : #8C4662;
  --CrimsonViolet50pourcent : #B18395;
  --CrimsonViolet25pourcent : #c3adc2;
  --WisteriaBlue : #E3E4F4;
  --White : #FFFFFF;
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------  Setting généraux  --------------------------------------------------*/

p {
  margin: 0;
  padding: 0;
  color: var(--MidnightViolet);
}

td {
   color: var(--MidnightViolet);
}

/* --------------------------------------------------  Tableau de jeu  --------------------------------------------------*/


#conteneur_jeu {
display: flex;
flex-direction: row;
gap: 40px;
justify-content: center;
filter: opacity(0.40);
}

#interface_de_jeu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.grille {
  border-radius: 20px;
  border: 6px solid var(--MidnightViolet);
  border-spacing: 0px;
}

#grille {
  display: none;
  font-size: 36px;
  font-weight: bold;
}

.grille td {
  height: 80px;
  width: 80px;
  border: 1px solid var(--MidnightViolet);
  text-align: center;
}

.grille tr:nth-child(4) td {
  border-top: 4px solid var(--MidnightViolet);
}

.grille tr:nth-child(6) td {
  border-bottom: 4px solid var(--MidnightViolet);
}

.grille tr td:nth-child(4) {
  border-left: 4px solid var(--MidnightViolet);
}

.grille tr td:nth-child(6) {
  border-right: 4px solid var(--MidnightViolet);
}

.grille tr:first-child td {
  border-top: none;
}

.grille tr:last-child td {
  border-bottom: none;
}

.grille tr td:first-child {
  border-left: none;
}

.grille tr td:last-child {
  border-right: none;
}

#pave_numerique {
  width: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 40px;
}

#pave_numerique p {
  width: 100px;
  height: 100px;
  background-color: var(--WisteriaBlue);
  border-radius: 15px;
  text-align: center;
  line-height: 100px;
}

#bouton_jeu {
  height: 80px;
  background-color: var(--CrimsonViolet);
  border-radius: 15px;
  text-align: center;
  line-height: 80px;
  color: var(--White);
  font-size: 24px;
  font-weight: bold;
  margin: 0 30px;
}

td, #pave_numerique p, #boutons_difficulte div {
  pointer-events: all;
  cursor: pointer;
}

.celluleBleue {
  background-color: var(--WisteriaBlue);
  
}

.selected {
  background-color: var(--CrimsonViolet25pourcent) !important;
}

.selected_highlight {
  background-color: var(--CrimsonViolet75pourcent) !important;
  color: var(--White);
}

#choix_difficulte {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  top : 50%;
  left : 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 450px;
  height: 292px;
  border-radius: 15px;
  background-color: var(--WisteriaBlue);
  box-shadow: 0px 4px 4px 0px #686868;
  text-align: center;
}

#boutons_difficulte {
  display: flex;
  justify-content: space-between;
}

#boutons_difficulte div {
  border-radius: 15px;
  width: 120px;
  height: 95px;
  line-height: 95px; /* A supprimer une fois les images de bouton ajoutés */
  background-color: var(--White);
}

td:not(.celluleFixe, .selected_highlight) {
  color: var(--CrimsonViolet);
}