:root {
  --MidnightViolet : #270211;
  --CrimsonViolet : #65082D;
  --CrimsonViolet75pourcent : #8C4662;
  --CrimsonViolet50pourcent : #B18395;
  --CrimsonViolet25pourcent : #c3adc2;
  --WisteriaBlue : #E3E4F4;
  --White : #FFFFFF;
}

@font-face {
  font-family: "Berlin";
  font-weight: 400;
  src: url("../fonts/berlin-sans-fb-demi/BRLNSDB.TTF") format("truetype");
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Berlin";

}


/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------  Setting généraux  --------------------------------------------------*/
* {
  font-family: "inter";
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1120px;
  min-height: calc(100vh - 146px);
  padding: 40px 0 40px 0;
  margin: 0 auto;
}

a, a:visited {
  text-decoration: none;
  color: var(--MidnightViolet);
}

p {
  margin: 0;
  padding: 0;
  color: var(--MidnightViolet);
}

td {
  color: var(--MidnightViolet);
}

#conteneur_principal {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#conteneur_principal>img {
  margin: auto 0;
}

.bouton {
  cursor: pointer;
}

.boutonPrincipal {
  background-color: var(--CrimsonViolet);
  color: var(--White);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #686868;
  transition: all 0.5s ease;
}

.boutonPrincipal:hover {
  background-color: #540726;
}

.boutonPrincipal:active {
  background-color: #3e051c;
  transition: filter 0.1s ease;
}

.boutonPave {
  text-align: center;
  background-color: var(--WisteriaBlue);
  box-shadow: 0px 2px 2px 0px #686868;
  transition: filter 0.5s ease;
}

.boutonPave:hover {
  filter: brightness(0.94);
}

.boutonPave:active {
  filter: brightness(0.8);
  transition: filter 0.1s ease;
}

/* --------------------------------------------------  Formulaires  --------------------------------------------------*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

form>div {
  display: flex;
  flex-direction: column;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 80px;
  width: 520px;
}

.formulaire>img {
  margin: 0 auto 30px auto;
}

label, form p {
  text-align: left;
}

input[type="text"], input[type="email"], input[type="password"]{
  width: 360px;
  height: 53px;
  border-radius: 10px;
}

/* --------------------------------------------------  Header  --------------------------------------------------*/

header {
  border-bottom: 1px solid var(--CrimsonViolet50pourcent);
  box-shadow: 0px 4px 4px var(--CrimsonViolet50pourcent);
  overflow: visible;
}

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1120px;
  height: 80px;
  font-size: 24px;
}

nav {
  display: flex;
  gap: 60px;
}

#utilisateur {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
}

#menu_utilisateur {
  display: none;
  position: absolute;
  gap: 7px;
  right: 0px;
  top: 80px;
  min-width: 200px;
  font-size: 16px;
  background-color: var(--CrimsonViolet);
  border-radius: 10px;
  padding: 7px 0px 7px 25px;
}

#menu_utilisateur>div {
  display: flex;
  gap: 16px;
}

#menu_utilisateur a {
  color: var(--White);
}

#utilisateur:hover #menu_utilisateur {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* --------------------------------------------------  Footer  --------------------------------------------------*/

footer {
  border-top: 1px solid var(--CrimsonViolet50pourcent);
  box-shadow: 0px 0px 4px var(--CrimsonViolet50pourcent);
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1120px;
  height: 64px;
}

footer>div div {
  display: flex;
}

footer div:first-child {
  gap: 20px;
}

footer div:last-child {
  gap: 27px;
}

/* --------------------------------------------------  Tableau de jeu  --------------------------------------------------*/

#titre_jeu {
  margin-bottom: 40px;
}

#conteneur_jeu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: opacity(0.40);
}

#interface_de_jeu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.grille {
  border-radius: 20px;
  border: 6px solid var(--MidnightViolet);
  border-spacing: 0px;
  /*border-collapse: collapse;*/
}

#grille {
  display: none;
  font-size: 36px;
  font-weight: bold;
}

#grille ul {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  top: 8px;
  left: 8px;
}

#grille li {
  width: 20px;
  height: 20px;
  font-weight: lighter;
}

.grille td {
  position: relative;
  height: 80px;
  width: 80px;
  border: 1px solid var(--MidnightViolet);
  text-align: center;
}

.grille tr:nth-child(4) td {
  border-top: 4px solid var(--MidnightViolet);
}

.grille tr:nth-child(6) td {
  border-bottom: 4px solid var(--MidnightViolet);
}

.grille tr:first-child td:first-child {
  border-radius: 12px 0 0 0;
}

.grille tr:first-child td:last-child {
  border-radius:  0 12px 0 0;
}

.grille tr:last-child td:first-child {
  border-radius:  0 0 0 12px;
}

.grille tr:last-child td:last-child {
  border-radius:  0 0 12px 0;
}

.grille tr td:nth-child(4) {
  border-left: 4px solid var(--MidnightViolet);
}

.grille tr td:nth-child(6) {
  border-right: 4px solid var(--MidnightViolet);
}

.grille tr:first-child td {
  border-top: none;
}

.grille tr:last-child td {
  border-bottom: none;
}

.grille tr td:first-child {
  border-left: none;
}

.grille tr td:last-child {
  border-right: none;
}

#interface_de_jeu>div {
  display: flex;
  justify-content: space-evenly;
}

#interface_de_jeu>div:first-child {
  gap:38px;
}

#interface_de_jeu>div:last-child {
  position: relative;
}

.boutons_ronds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.boutons_ronds>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 16px;
}

#pave_numerique {
  width: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 40px;
}

#pave_numerique p {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  line-height: 100px;
}

#bouton_jeu {
  height: 80px;
  width: 352px;
  border-radius: 15px;
  line-height: 80px;
  margin: 0 30px;
}

td, #pave_numerique p, .boutons_difficulte div {
  pointer-events: all;
  cursor: pointer;
}

td:not(.celluleFixe, .selected_highlight) p {
  color: var(--CrimsonViolet75pourcent);
  font-weight:normal;
}

td:not(.celluleFixe, .selected_highlight) li {
  color: var(--CrimsonViolet75pourcent);
}

.celluleBleue {
  background-color: var(--WisteriaBlue);
}

.selected {
  background-color: var(--CrimsonViolet25pourcent) !important;
}

.selected_highlight, .selected_highlight p, .selected_highlight li {
  background-color: var(--CrimsonViolet75pourcent) !important;
  color: var(--White);
}

.selected_highlight:not(.celluleFixe) {
  font-weight: normal;
}

/* --------------------------------------------------  Popups  --------------------------------------------------*/

.popup {
  position: absolute;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  top : 50%;
  left : 50%;
  width: 450px;
  border-radius: 15px;
  background-color: var(--WisteriaBlue);
  box-shadow: 0px 4px 4px 0px #686868;
  text-align: center;
}

#debut_partie, #fin_partie {
  display: flex;
  transform: translateX(-50%) translateY(-50%);
}

#menu_partie {
  display: none;
  transform: translateX(-50%) translateY(calc(-100% - 70px));
}

#fin_partie {
  display: none;
  align-items: center;
}

.boutons_difficulte {
  display: flex;
  justify-content: space-between;
}

.boutons_difficulte div, #fin_partie div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--CrimsonViolet25pourcent);
  border-radius: 15px;
  width: 120px;
  height: 120px;
  transition: all 0.5s ease;
}

.boutons_difficulte div img {
  width: 50px;
  height: 50px;
}

.boutons_difficulte div:hover {
  background-color: var(--CrimsonViolet50pourcent);
}

.boutons_difficulte div:active {
  background-color: var(--CrimsonViolet75pourcent);
  transition: all 0.1s ease;
}