:root {
  --MidnightViolet : #270211;
  --CrimsonViolet : #65082D;
  --CrimsonViolet75pourcent : #8C4662;
  --CrimsonViolet50pourcent : #B18395;
  --CrimsonViolet25pourcent : #c3adc2;
  --WisteriaBlue125pourcent : #6973C5;
  --WisteriaBlue : #8F95D3;
  --WisteriaBlue75pourcent : #B3B6E1;
  --WisteriaBlue50pourcent : #ced0ec;
  --WisteriaBlue25pourcent : #e3e4f4;
  --White : #FFFFFF;
  --Red : #FF0000;
}

@font-face {
  font-family: "Berlin";
  font-weight: 400;
  src: url("../fonts/berlin-sans-fb-demi/BRLNSDB.TTF") format("truetype");
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Berlin";
}


/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------  GENERAL  --------------------------------------------------*/

/* Principal */

* {
  font-family: "inter";
  font-size: 18px;
  cursor: default;
  user-select: none;
}

main {
  border-top: 1px solid var(--CrimsonViolet50pourcent);
  border-bottom: 1px solid var(--CrimsonViolet50pourcent);
  box-shadow: inset 0px 4px 4px var(--CrimsonViolet50pourcent), inset 0px 0px 4px var(--CrimsonViolet50pourcent);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 122px);
  padding: 10px 0px;
  margin: 0 auto;
}

#conteneur_principal {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
}

.vertical {
  flex-direction: column;
}

sup {
  line-height: 0px;
}

section {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  padding: 30px;
  margin: 0px 25px;
  border-radius: 20px;
  background-color: var(--WisteriaBlue25pourcent);
  max-width: 100%;
}

/* Texte */

a, a:visited:not(.bouton) {
  text-decoration: none;
  color: var(--MidnightViolet);
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  color: var(--MidnightViolet);
  cursor: inherit;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: clamp(1.5rem, 3.75vw, 1.6rem);
  text-align: center;
}

h3 {
  font-size: clamp(1.25rem, 3.125vw, 1.333rem);
  text-align: center;
}

/* Images */

img {
  cursor: inherit;
}

/* Tableaux */

td {
  color: var(--MidnightViolet);
}

/* Boutons */

.boutonPrincipal {
  background-color: var(--CrimsonViolet);
  color: var(--White);
  font-size: clamp(1rem, 2.34vw, 1.33rem);
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #686868;
  transition: all 0.5s ease;
}

.boutonLarge {
  display: block;
  height: 40px;
  line-height: 40px;
  min-width: 240px;
  padding: 0px 15px;
}

.boutonDefaut {
  height: 40px;
  line-height: 40px;
  min-width: 140px;
  padding: 0px 15px;
}

/* Formulaires */

select, input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 0px 10px;
  border: 2px solid var(--MidnightViolet);
  border-radius: 5px;
  margin-top: 11px;
  cursor: text;
}

input[type="submit"] {
  border: transparent;
  margin: 15px auto 0px auto;
}

label {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

form p {
  text-align: left;
}

hr {
  border-top: 1px solid var(--MidnightViolet);
  width: 80%;
  margin: 30px auto;
}

.formulaire a {
  text-align: center;
}

.formulaire a:last-child {
  margin-top: 15px;
}

.formulaire h1 {
  font-size: 32px;
}

/* ----------------------------------------------  MOBILE (<= 575px)  ----------------------------------------------*/

/* Header */

header {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
  max-width: 1200px;
  height: 60px;
}

nav {
  display: none;
}

.logo {
  width: 95px;
}

#utilisateur {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
}

#utilisateur>img {
  width: 40px;
}

#menu_burger {
  margin-left: 5px;
}

#menu_burger > input[type = "checkbox"] {
  position: absolute;
  width: 40px;
  height: 45px;
  margin: 0px;
  opacity: 0;
}

#menu_burger > input[type = "checkbox"]:checked~.menu_burger {
  display: flex;
}

.menu_burger {
  position: fixed;
  display: none;
  flex-direction: column;
  left: 0px;
  top: 60px;
  min-width: 100vw;
  background-color: var(--White);
  padding: 15px 25px;
  border-top: 1px solid var(--CrimsonViolet50pourcent);
  box-shadow: inset 0px 4px 4px var(--CrimsonViolet50pourcent);
  z-index: 2;
}

.menu_burger a {
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid var(--WisteriaBlue25pourcent);
}

.menu_burger a:nth-child(4), .menu_burger a:last-child {
  border-bottom: none;
}

.menu_burger a:nth-child(5) {
  border-top: 1px solid var(--MidnightViolet);
}

#menu_utilisateur {
  display: none;
}

/* Accueil */

#accueil_haut {
  margin-bottom: 30px;
}

#accueil_haut>img {
  display: none;
}

#accueil_haut img {
  width: min(41vw, 268px);
  height: min(41vw, 268px);
  margin: 0px auto;
}

#accueil_haut>div, #accueil_bas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#boutons_centre {
  display: none;
}

#boutons_haut {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  margin: 30px 0px;
}

/* Connexion / Inscription */

#conteneur_principal>img {
  display: none;
}

.formulaire img {
  display: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100px;
}

footer div {
  display: flex;
}

footer img {
  height: 30px;
}

footer div:first-child {
  gap: 20px;
}

footer div:last-child {
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/* Settings généraux */

section p {
  text-align: justify;
}

.bouton {
  cursor: pointer;
  border-radius: 10px;
}

/* --------------------------------  MOBILE MODE PAYSAGE ET PLUS GRAND (<= 767 px)  --------------------------------*/

@media (min-width: 576px) {

  /* Accueil */

  #boutons_haut {
    flex-direction: row;
    gap: 15px;
  }
}

/* -------------------------------------  TABLETTE ET PLUS GRAND (<= 991 px)  --------------------------------------*/

@media (min-width: 768px) {

  /* Header */

  nav {
    display: flex;
    gap: 2.5vw;
  }

  #utilisateur {
    gap: 20px;
  }

  #menu_burger {
    display: none;
  }

  #menu_utilisateur {
    display: none;
    position: absolute;
    gap: 7px;
    right: 0px;
    top: 60px;
    min-width: 280px;
    background-color: var(--CrimsonViolet);
    border-radius: 10px;
    padding: 7px 0px 7px 25px;
    z-index: 2;
  }

  #menu_utilisateur>div {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 45px;
  }

  #menu_utilisateur>div img {
    margin: auto 0;
  }

  #menu_utilisateur a {
    color: var(--White);
  }

  #utilisateur:hover #menu_utilisateur {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Accueil */

  #accueil_haut img {
    display: none;
  }

  #accueil_haut>img {
    display: block;
    width: min(41vw, 268px);
    height: min(41vw, 268px);
    margin: auto;
  }

  #accueil_haut {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 30px;
  }

  #accueil_haut>div:last-child {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 15px;
  }

  #boutons_haut {
    display: none;
  }

  #boutons_centre {
    display: flex;
    gap: 80px;
    align-self: center;
    margin-bottom: 20px;
  }

  /* Connexion / Inscription */

  #conteneur_principal>img {
    display: block;
    margin: auto;
    width: min(35vw, 456px);
    height: min(35vw, 456px);
  }

  /* Footer */

  footer {
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 20px;
  }

  footer div {
    display: flex;
  }

  footer img {
    height: unset;
  }

  footer div:last-child {
    flex-direction: row;
    gap: 20px;
  }

  /* Settings généraux */

  h2, h3 {
    text-align: left;
  }

  .bouton {
    border-radius: 15px;
  }

  .boutonDefaut {
    min-width: 280px;
  }

  .formulaire {
    max-width: 350px;
    margin: 0px auto 0px 5vw;
  }
}

/* --------------------------------  ORDINATEUR BUREAU ET PLUS GRAND (<= 1199 px)  ---------------------------------*/

@media (min-width: 992px) {

  /* Header */

  header a {
    font-size: 24px;
  }

   .logo {
    width: 135px;
  }

  #utilisateur>img {
    width: 49px;
  }

  /* Connexion / Inscription */

  .formulaire img {
    display: block;
    width: 271px;
    margin: 0px auto 30px auto;
  }

  /* Footer */

  footer div:last-child {
    gap: 27px;
  }

  /* Settings généraux */

  select, input[type="text"], input[type="email"], input[type="password"] {
    height: 53px;
    font-size: 24px;
    padding: 0px 20px;
    border-radius: 10px;
  }

  label {
    font-size: 24px;
  }

  .formulaire {
    max-width: 435px;
    margin: 0px auto 0px 5vw;
  }

  .formulaire form {
    margin: 30px auto 0px auto;
  }

  .formulaire form div {
    width: 360px;
  }
}

/* -----------------------------------------  GRANDS ECRANS (>= 1200 px)  ------------------------------------------*/

@media (min-width: 1200px) {

  /* Header */

  header {
    width: calc(100vw - 50px);
    margin: 0px auto;
  }

  /* Footer */

  footer {
    width: calc(100vw - 50px);
    margin: 0px auto;
  }

  /* Settings généraux */

  section {
    max-width: 1200px;
    margin: auto;
  }

  .formulaire {
    max-width: 520px;
  }
}