/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


#grille {
  border-radius: 20px;
  border: 6px solid black;
  border-spacing: 0px;
  display: none;
}

#grille td {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  text-align: center;
}

#grille tr:nth-child(4):not(td:nth-child(4)), #grille tr:nth-child(5), #grille tr:nth-child(6),
#grille tr td:nth-child(4), #grille tr td:nth-child(5), #grille tr td:nth-child(6) {
  background-color: antiquewhite;
}

#grille tr:nth-child(4) td:nth-child(4), #grille tr:nth-child(4) td:nth-child(5), #grille tr:nth-child(4) td:nth-child(6),
#grille tr:nth-child(5) td:nth-child(4), #grille tr:nth-child(5) td:nth-child(5), #grille tr:nth-child(5) td:nth-child(6),
#grille tr:nth-child(6) td:nth-child(4), #grille tr:nth-child(6) td:nth-child(5), #grille tr:nth-child(6) td:nth-child(6) {
  background-color: white;
}

#grille tr:nth-child(4) td {
  border-top: 4px solid black;
}

#grille tr:nth-child(6) td {
  border-bottom: 4px solid black;
}

#grille tr td:nth-child(4) {
  border-left: 4px solid black;
}

#grille tr td:nth-child(6) {
  border-right: 4px solid black;
}

#grille tr:first-child td {
  border-top: none;
}

#grille tr:last-child td {
  border-bottom: none;
}

#grille tr td:first-child {
  border-left: none;
}

#grille tr td:last-child {
  border-right: none;
}