Options +FollowSymlinks
RewriteEngine on

RewriteRule ^salon$ index.php?controller=partie&action=lobby [L]
RewriteRule ^solo$ index.php?controller=partie&action=soloBoard [L]
RewriteRule ^multijoueur(.*)$ index.php?controller=partie&action=multiBoard [L,QSA]

RewriteRule ^classements$ index.php?action=leaderboard [L]
RewriteRule ^regles$ index.php?action=rules [L]
RewriteRule ^mentions$ index.php?action=legals [L]

RewriteRule ^connexion(.*)?$ index.php?controller=utilisateur&action=login [L,QSA]
RewriteRule ^deconnexion$ index.php?controller=utilisateur&action=logout [L]
RewriteRule ^inscription$ index.php?controller=utilisateur&action=signUp [L]
RewriteRule ^oubliMdp$ index.php?controller=utilisateur&action=forgotPassword [L]
RewriteRule ^profil$ index.php?controller=utilisateur&action=profil [L]
RewriteRule ^reinitialisationMdp(.*)?$ index.php?controller=utilisateur&action=resetPassword [L,QSA]

RewriteRule ^administration$ index.php?controller=admin&action=home
RewriteRule ^gestionUtilisateurs$ index.php?controller=admin&action=usersManagement

ErrorDocument 404 /index.php?action=erreur404