# Ignore le dossier contenant les dépendances
/vendor/

# Ignore les fichiers de configuration (données senssibles), sauf un fichier d'exemple avec les clés nécessaires
.env
/tests/.env.test
!.env.example

# Ignore le dossier contenant le cache de twig
/templates_c/

# Ignore le cache des tests
.phpunit.result.cache